{% set sentence = "Nullizzle <em>shizznit</em> velizzle, <strong>hizzle</strong>, suscipit own yo', gravida vizzle, arcu." %}

<p class="f-regular">Avenir regular / {{ sentence|raw }}</p>
<p class="f-italic">Avenir italic / {{ sentence|raw }}</p>
<p class="f-light">Avenir light / {{ sentence|raw }}</p>
<p class="f-light-italic">Avenir lightItalic / {{ sentence|raw }}</p>
<p class="f-medium">Avenir medium / {{ sentence|raw }}</p>
<p class="f-medium-italic">Avenir mediumItalic / {{ sentence|raw }}</p>
<p class="f-bold">Avenir bold / {{ sentence|raw }}</p>
<p class="f-bold-italic">Avenir boldItalic / {{ sentence|raw }}</p>
<p class="f-black">Avenir black / {{ sentence|raw }}</p>
<p class="f-black-italic">Avenir blackItalic / {{ sentence|raw }}</p>
<p class="f-handwriting">Los Angeles Autograph / {{ sentence|raw }}</p>
