<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="//fast.fonts.net/cssapi/78339111-acfa-4218-9bd7-1fc2f4ac43a5.css" media="all">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="/css/dist/font.la-autograph.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="/css/dist/global.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="/css/dist/layouts.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="/css/dist/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="/css/dist/styleguide-specific.css?{{ cacheBuster }}" media="all" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead|raw }}
		<!-- End Pattern Lab -->

	</head>
	<body class="{{ bodyClass }}">
